input {
  font-size: 16px;
  line-height: 1.5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  border: 0;
  border-radius: 6px;
  font-family: monospace;
  height: 62px;
  margin: 8px 0;
  width: 100%;
  text-indent: 16px;
}
